@*@model IEnumerable<AspNetFrameworkV4._8.Models.TblClientes>*@
@model IEnumerable<AspNetFrameworkV4._8.Models.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Razon Social</th>
            <th>Tipo Cliente</th>
            <th>Fecha Creación</th>
            <th>RFC</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RazonSocial</td>
                <td>@item.NombreTipoCliente</td>
                <td>@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                <td>@item.RFC</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>